body{
background-image: url(https://img.freepik.com/premium-photo/gold-wave-white-background-with-copy-space_1000823-27825.jpg?w=2000);}

	
	.toto8 img{
		height: 130px;
	width: 100px;
	margin: 100px;
	background-image: url(pilar)
	border: 3px double darkgoldenrod;


	border-radius: 50%;
	transform: translate(10px);
	}

.toto8{
	display: inline-block;
}

.toto8 p{

	margin: 15px;
	font-family: 'Vast Shadow', serif;
		color: black;
		letter-spacing: 1px;
		font-size: 22px;
		border: 5px inset darkgoldenrod;
       
       text-align: center;
}